<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Babbage</title>
</head>
<body>
    <center>
    <h1>Charles Babbage</h1>
    <img src="/img/babbage.jpg" alt="Foto de Charles babbage"> 
    </center>
    <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
    <b>El siguiente enlace lo llevara al sitio donde se encuentra una descripcion detallada de su biografia</b>
    <li><a href="https://forohistorico.coit.es/index.php/personajes/personajes-internacionales/item/babbage-charles#:~:text=Charles%20Babbage%20%5BWalworth%20(Londres%2C,padre%20de%20la%20computaci%C3%B3n%20digital." title="Biografia">Biografia Babbage</a></li>
   
</body>
</html>