<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Berners-Lee</title>
</head>
<body>
    <center>
        <h1>Berners-Lee</h1>
        <img src="/img/berners-lee.jfif" alt="Foto de berners-lee"> 
        </center>
        <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.</p>
        <b>El siguiente enlace lo llevara al sitio donde se encuentra una descripcion detallada de su biografia</b>
        <li><a href="https://forohistorico.coit.es/index.php/personajes/personajes-internacionales/item/berners-lee-timothy" title="Biografia">Biografia Berners-Lee</a></li>
</body>
</html>