<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edith Clarke</title>
</head>
<body>
    <center>
        <h1>Edith Clarke</h1>
        <img src="/img/EdithClarke.jpg" alt="Foto de Edith Clarke"> 
        </center>
        <p>Edith Clarke fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin.​​ Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.</p>
        <b>El siguiente enlace lo llevara al sitio donde se encuentra una descripcion detallada de su biografia</b>
        <li><a href="https://forohistorico.coit.es/index.php/personajes/personajes-internacionales/item/clarke-edith" title="Biografia">Biografia Edith Clarke</a></li>
</body>
</html>