<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ada Lovelace</title>
</head>
<body>
    <center>
        <h1>Ada Lovelace</h1>
        <img src="/img/Lovelace.jpg" alt="Foto de Ada Lovelace"> 
        </center>
        <p>Augusta Ada King, condesa de Lovelace estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
        <b>El siguiente enlace lo llevara al sitio donde se encuentra una descripcion detallada de su biografia</b>
        <li><a href="https://www.buscabiografias.com/biografia/verDetalle/8221/Augusta%20Ada%20Byron%20-%20Ada%20Lovelace" title="Biografia">Biografia Lovelace</a></li>
</body>
</html>