<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Alan Turing</title>
</head>
<body>
    <center>
        <h1>Alan Turing</h1>
        <img src="/img/AlanTuring.jpg" alt="Foto de Alan Turing"> 
        </center>
            <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</p>
            <b>El siguiente enlace lo llevara al sitio donde se encuentra una descripcion detallada de su biografia</b>
            <li><a href="https://www.biografiasyvidas.com/biografia/t/turing.htm#:~:text=(Alan%20Mathison%20Turing%3B%20Londres%2C,Unido%2C%201954)%20Matem%C3%A1tico%20brit%C3%A1nico.&text=Turing%20describi%C3%B3%20en%20t%C3%A9rminos%20matem%C3%A1ticos,en%20un%20lenguaje%20formal%20determinado." title="Biografia">Biografia Turing</a></li></p>
</body>
</html>

